


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Size</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price/Per</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th colspan="6" class="text-center text-danger">
                Sepetinizde Ürün Yok!
            </th>
        </tr>
        <tr>
            <th colspan="6" class="text-center">
                <a class="btn btn-primary" asp-action="Index">Back to Home Page</a>
            </th>
        </tr>
    </tbody>
    <tfoot>
        
    </tfoot>
</table>
