
<h3 class="card-row d-flex justify-content-center">Yönetici Paneli</h3>
<br />
<div class="card-row d-flex justify-content-center align-items-center">
    <div class="card">
        <img class="card-img-top" src="Admin/product.jpg" alt="Product img">
        <div class="card-body">
            <h5 class="card-title text-center"><a asp-area="Admin" asp-controller="Products" asp-action="Index" class="btn btn-info">Product İşlemleri</a></h5>
        </div>
    </div>
    <div>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp</p>
        
    </div>
    <div class="card">
        <img class="card-img-top" src="Admin/category.jpg" alt="Product img">
        <div class="card-body">
            <h5 class="card-title text-center"><a asp-area="Admin" asp-controller="Categories" asp-action="Index" class="btn btn-info">Kategori İşlemleri</a></h5>
        </div>       
    </div>
    <div>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp</p>
    </div>
    <div class="card">
        <img class="card-img-top" src="Admin/extra.jpg" alt="Product img">
        <div class="card-body">
            <h5 class="card-title text-center"><a asp-area="Admin" asp-controller="Extras" asp-action="Index" class="btn btn-info">Extra İşlemleri</a></h5>
        </div>
    </div>
</div>